html {
  height: 100%;
  /* min-height: 930px; */
}

body {
  height: 88%;
  min-height: 650px;
  min-width: 850px;
}

#root {
  height: 100%;
}

.error	{
  color: red;
  font-weight: bold;
}

.main-window	{
  min-height: 50%;
  min-width: 60%;
  height: 100%;
}

.content-window {
  min-height: 50%;
  min-width: 60%;
  height: 100%;
}

.blur {
  filter: blur(1px);
  -webkit-filter: blur(1px);
}

.backdrop	{
  background-color: rgba(100,100,100,.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup	{
  filter: none;
  -webkit-filter: none;
  position: relative;
  width: 600px;
  height: 70%;
  top: 15%;
  margin: 0 auto;
  background-color: #EAE2D6;
}

.popup--yesno	{
  height: 40%;
  min-height: 324px;
}

.popup__content	{
  position: relative;
  top: 40px;
  margin: 40px;
  height: 90%;
  background-color: white;
}

.popup--yesno .popup__content {
  top: 20px;
}

.popup__content____message {
  position: relative;
  width: 350px;
  top: 25px;
  margin: 0 auto;
}

.popup__content____message--large {
  font-size: 1.5em;
}

.popup__content____buttonblock {
  position: relative;
  width: 400px;
  margin: 0 auto;
  top: 80px;
}

.popup__content____buttonblock--single {
  position: relative;
  width: 200px;
  left: -10px;
}

.popup__content____buttonblock button {
  font-size: 1.25em;
  width: 40%;
  height: 55px;
}

.popup__content____buttonblock--single button {
  width: 100%;
}

.popup__schema	{

}

.upload-header	{
  background-color: white;
  position: relative;
  margin: 0 auto;
  top: 15%;
  min-width: 930px;
  width: 55%;
  height: 20%;
  vertical-align: middle;
  border-radius: 5px;
}
.upload-header__h1	{
  margin: 0;
  font-family: sans-serif;
  font-weight: lighter;
  text-align: center;
  color: rgba(100,100,100,.9);
  display: inline-block;
  padding-top: 3%;
  height: 100%;
  width: 25%;
  font-size: 120px;
}
.upload-header__p	{
  display: inline-block;
  height: 30%;
  width: 70%;
  color: rgba(100,100,100,.9);
  font-size: 45px;
  font-family: sans-serif;
  vertical-align: top;
  border-bottom: 6px solid rgba(100,100,100,.9);
  border-radius: 5px;
}

.upload-button	{
  background-color: white;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  padding-top: 6%;
}

.upload-button span {
  font-size: 30px;
  color: rgba(100,100,100,.9);
}

.upload-button__label	{
  display: block;
  position: relative;
  margin: 0 auto;
  top: 25%;
  width: 30%;
  min-width: 475px;
  height: 10%;
}

.indented	{
  margin-left: 16px;
}

.indented--double	{
  margin-left: 32px;
}

.term	{
  font-size: 20px;
  font-weight: bold;
}

.card-title	{
  font-size: 16px;
  font-weight: bold;
  border-bottom: 2px solid gray;
  min-width: 450px;
  width: 30%;
}
.card-title__popup	{
  font-size: 32px;
  padding-left: 5px;
}

.concept-card	{
  background-color: white;
  border-radius: 3px;
  padding: 10px;
  width: auto;
}

.lang-card	{
  background-color: white;
  border-radius: 3px;
  margin-top: 25px;
  padding: 10px;
}

.metadata-item__container	{
  margin: 0;
  padding: 0;
}
.metadata-item__key	{
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  font-size: 16px;
  width: 160px;
}
.metadata-item__value	{
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 70%;
  word-wrap: break-word;
}

.metadata-item__blink:active {
  background-color: #EAE2D6;
}

.header	{
  width: 100%;
  height: 60px;
  background-color: #B8C4BA;
  color: black;
}

.header-data__button-block	{
  float: right;
}

.metadata__button	{
  background-color: #D8D8D8;
  border: 0;
  margin: 15px;
  height: 30px;
  width: 100px;
}

.header-data__block	{
  display: inline-block;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 30px;
  text-align: center;
}

.header-data__dc-name	{
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.header-data__dc-value	{
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.concept-entry-block	{
  background-color: #EAE2D6;
  float: right;
  height: 100%;
  width: 73.5%;
  margin-top: 5px;
  overflow: auto;
}

.concept-entry-block__contents	{
  margin: 15px;
}

.concept-entry-block__contents--empty {
  position: absolute;
  width: 500px;
  top: 50%;
  bottom: 50%;
  right: 50%;
  left: 50%;
  font-size: 2em;
  font-weight: bold;
}

.term-block	{
  background-color: #EAE2D6;
  float: left;
  height: 100%;
  width: 25%;
  min-width: 206px;
  margin-top: 5px;
  padding-left: 10px;
  position: relative;
}

.term-block__title	{
  font-size: 20px;
  font-weight: bold;
  border-bottom: 2px solid gray;
  width: 80%;
}

.term-block__search	{
  background-color: white;
  height: 24px;
  border: 1px solid gray;
  padding-left: 5px;
  padding-bottom: 8px;
  border-radius: 3px;
}

.term-block__list-container	{
  background-color: white;
  height: 80%;
  width: 90%;
  position: absolute;
  top: 115px;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 3px;
}

.term-block__list-container____list	{
  background-color: white;
  height: 92%;
  overflow: auto;
}

.term-block__list-line	{
  width: 60%;
  border-bottom: 1px solid #D8D8D8;
}

.collapse-arrow-down	{
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 10px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-top: 5px solid #D8D8D8;
}

.collapse-arrow-left	{
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 10px;
  border-right: 5px solid #D8D8D8;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.term-block__lang-button	{
  background-color: #D8D8D8px;
  margin-top: 5px;
  border: 0;
  width: 100px;
  height: 30px;
}

.term-block__lang-block	{
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 15px;
}

.term-block__list-item	{
  padding: 0;
  margin: 1px;
}
